#include <Arduino.h>

// TODO: Include your implementation headers here
// Example:
// #include "my_device.hpp"

void setup() {
    // Initialize serial communication
    Serial.begin(115200);
    while (!Serial) {
        ; // Wait for serial port to connect
    }

    Serial.println("{{.ProjectName}} started!");

    // TODO: Initialize your components here
}

void loop() {
    // TODO: Implement your main loop here

    delay(1000);
}
